---
Checks:
  - '*'
  - '-altera-*'
  - '-bugprone-easily-swappable-parameters'
  - '-cert-int09-c'
  - '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
  - '-clang-diagnostic-format-nonliteral'
  - '-cppcoreguidelines-avoid-non-const-global-variables'
  - '-llvm-*'
  - '-llvmlibc-*'
  - '-misc-confusable-identifiers'
  - '-misc-include-cleaner'
  - '-misc-use-internal-linkage'
  - '-readability-avoid-nested-conditional-operator'
  - '-readability-enum-initial-value'
  - '-readability-function-cognitive-complexity'
  - '-readability-identifier-length'
  - '-readability-implicit-bool-conversion'
  - '-readability-isolate-declaration'
  - '-readability-use-concise-preprocessor-directives'
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: none
InheritParentConfig: false
User: 'adrg'
CheckOptions:
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
  cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues: '0;1;2;3;4;5;6;7;8;'
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
  readability-magic-numbers.IgnoredIntegerValues: '0;1;2;3;4;5;6;7;8;'
...
